{% extends "layout.html" %}

{% block content %}
<h1>Index</h1>
<form action="/ir/ir_pick" method="post">
    <input type="submit" value="担当プログラム選択">
</form>
<form action="/ir/ir_mypage" method="post">
    <input type="submit" value="マイページ">
</form>
<form action="/ir/ir_logout" method="post">
    <input type="submit" value="ログアウト">
</form>
<form action="/ir/ir_login" method="post">
    <input type="submit" value="戻る">
</form>
<a href="/ir/ir_pick">ir担当プログラム選択へ</a>
<a href="/ir/ir_mypage">irMypageへ</a>
<a href="/ir/ir">ログアウト</a>
<a href="/ir/ir_login">戻る</a>
{% endblock %}
