{% extends "layout.html" %}

{% block content %}
<h1>メンバー->スタジオ選択</h1>
<form action="/user/member_class" method="post">
    <p>スタジオ一覧</p>
    <input type="submit" value="選択">
</form>
<table class="table table-bordered">
    <tr>
        <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th>
    </tr>
    <tr>
        <td><a href="">ヨガ</a></td><td>ピラティス</td><td>ホットYOGA45ek</td><td>ルーシーダットン</td><td>フラダンス</td><td><a href="">ヨガ</a></td><td><a href="">ヨガ</a></td>
    </tr>
    <tr>
        <td><a href="">ヨガ</a></td><td>ピラティス</td><td>ホットYOGA45ek</td><td>ルーシーダットン</td><td>フラダンス</td><td><a href="">ヨガ</a></td><td><a href="">ヨガ</a></td>
    </tr>
    <tr>
        <td><a href="">ヨガ</a></td><td>ピラティス</td><td>ホットYOGA45ek</td><td>ルーシーダットン</td><td>フラダンス</td><td><a href="">ヨガ</a></td><td><a href="">ヨガ</a></td>
    </tr>
    <tr>
        <td><a href="">ヨガ</a></td><td>ピラティス</td><td>ホットYOGA45ek</td><td>ルーシーダットン</td><td>フラダンス</td><td><a href="">ヨガ</a></td><td><a href="">ヨガ</a></td>
    </tr>
    <tr>
        <td><a href="">ヨガ</a></td><td>ピラティス</td><td>ホットYOGA45ek</td><td>ルーシーダットン</td><td>フラダンス</td><td><a href="">ヨガ</a></td><td><a href="">ヨガ</a></td>
    </tr>
</table>
<form action="/user/member_index" method="post">
    <input type="submit" value="戻る">
</form>
<a href="/user/member_class">メンバー->プログラム内容へ</a>
<a href="/user/member_index">戻る</a>
{% endblock %}
