{% extends "layout.html" %}

{% block content %}
<h1>SignUp</h1>
<form action="/user/member_login" method="post">
    <div>
        <p>会員番号</p>
        <input type="number" name="membership_number" placeholder="会員番号">
    </div>
    <div>
        <p>ニックネーム</p>
        <input type="text" name="name" placeholder="ニックネーム">
    </div>
    <div>
        <p>パスワード</p>
        <input type="password" name="password" placeholder="password">
    </div>
    <div>
        <p>生年月日</p>
        <input type="date" name="birthday" id="">
    </div>
    <div>
        <p>性別</p>
        <div>
            <label for="checkbox1">男</label>
            <input type="checkbox" name="gender" id="" value="男">
        </div>
        <div>
            <label for="checkbox2">女</label>
            <input type="checkbox" name="gender" id="" value="女">
        </div>
        <div>
            <label for="checkbox3">どちらでもない</label>
            <input type="checkbox" name="gender" id="" value="どちらでもない">
        </div>
    </div>
    <!-- <select name="gender">
        <option value="man">男</option>
        <option value="woman">女</option>
        <option value="no_gender">どちらでも無い</option>
    </select> -->
    <div>
        <p>来館しやすい曜日</p>
        <div>
            <label for="checkbox1">日曜日</label>
            <input type="checkbox" name="week[]" id="" value="日曜日">
        </div>
        <div>
            <label for="checkbox2">月曜日</label>
            <input type="checkbox" name="week[]" id="" value="月曜日">
        </div>
        <div>
            <label for="checkbox3">火曜日</label>
            <input type="checkbox" name="week[]" id="" value="火曜日">
        </div>
        <div>
            <label for="checkbox4">水曜日</label>
            <input type="checkbox" name="week[]" id="" value="水曜日">
        </div>
        <div>
            <label for="checkbox5">木曜日</label>
            <input type="checkbox" name="week[]" id="" value="木曜日">
        </div>
        <div>
            <label for="checkbox6">金曜日</label>
            <input type="checkbox" name="week[]" id="" value="金曜日">
        </div>
        <div>
            <label for="checkbox7">土曜日</label>
            <input type="checkbox" name="week[]" id="" value="土曜日">
        </div>
    </div>
    <div>
        <p>来館しやすい時間帯</p>
        <div>
            <label for="checkbox1">9:30~12:00</label>
            <input type="checkbox" name="time_zone[]" id="" value="9:30~12:00">
        </div>
        <div>
            <label for="checkbox2">12:00~16:00</label>
            <input type="checkbox" name="time_zone[]" id="" value="12:00~16:00">
        </div>
        <div>
            <label for="checkbox3">16:00~19:00</label>
            <input type="checkbox" name="time_zone[]" id="" value="16:00~19:00">
        </div>
        <div>
            <label for="checkbox4">19:00~22:00</label>
            <input type="checkbox" name="time_zone[]" id="" value="19:00~22:00">
        </div>
    </div>
    
    <!-- <select name="time_zone" multiple>
        <option value="morning">9:30~12:00</option>
        <option value="afternoon">12:00~16:00</option>
        <option value="evening">16:00~19:00</option>
        <option value="night">19:00~22:00</option>
    </select> -->
    <input type="submit" value="登録">
</form>
<form action="/user/user" method="post">
    <input type="submit" value="戻る">
</form>
<a href="/user/member_login">登録->ログインへ</a>
<a href="/user/user">戻る</a>
{% endblock %}
