{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
    <img src="{{img_resize}}" class="card-img-top" alt="画像or動画">
    <div class="card-body">
        <h3 class="card-title">{{name}}</h3>
        <p class="card-text">{{content}}</p>
        <p><span>強度</span><span>{{strength}}</span><span> 難度</span><span>{{difficulty}}</span></p>
        <p class="card-title">担当：{{schedule[0].ir}}</p>
        <p>IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。</p>
        <p>参加者の声</p>
        <p>すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。</p>
        <h4 href="#" class="btn btn-primary">コメント記入</h4>
        <h4 href="#" class="btn btn-primary">予約する</h4>
        <h4 href="#" class="btn btn-primary">お気に入りに追加</h4>   
    </div>
    </div>
</div>
<div class="d-flex flex-row">
    <div>
        <img src="{{img_resize}}" class="img-thumbnail" alt="...">
    </div>
    <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{content}}</p>
    <p><span>強度</span><span>{{strength}}</span><span> 難度</span><span>{{difficulty}}</span></p>
    <p class="card-title">担当：{{schedule[0].ir}}</p>
    <p>IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。IRからのメッセージ。</p>
    <p>参加者の声</p>
    <p>すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。すごく良いです。</p>
    <h4 href="#" class="btn btn-primary">コメント記入</h4>
    <h4 href="#" class="btn btn-primary">予約する</h4>
    <h4 href="#" class="btn btn-primary">お気に入りに追加</h4>
  </div>

</div>
<h1>{{name}}</h1>

<p>{{content}}</p>
<p><img src={{img_resize}} alt="画像or動画"></p>
<p>強度<span>{{strength}}</span></p>
<p>難度<span>{{difficulty}}</span></p>
<h3>IRメッセージ</h3>
<h3>コメント閲覧</h3>
<form action="/user/member_comment" method="post">
    <input type="submit" value="コメント記入">
</form>
<form action="/user/member_reserve" method="post">
    <input type="submit" value="予約する">
</form>
<input type="button" value="お気に入りに追加">
<form action="/user/member_studio_pick" method="post">
    <input type="submit" value="戻る">
</form>
<form action="/user/member_index" method="post">
    <input type="submit" value="Indexへ">
</form>
<a href="/user/member_comment">コメント記入へ</a>
<a href="/user/member_reserve">予約画面へ</a>
<a href="/user/member_studio_pick">戻る</a>
<a href="/user/member_index">Indexへ</a>
{% endblock %}
